<div class="form-group">
    <label for="id" class="col-sm-2 control-label">Client ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.clientID" class="form-control" id="id" placeholder="Client ID"/>
    </div>
</div>

<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Client Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.name" class="form-control" id="name" placeholder="Client Name"/>
    </div>
</div>

<div class="form-group">
    <label for="email" class="col-sm-2 control-label">Client Email</label>
    <div class="col-sm-10">
        <input type="email" ng-model="client.email" class="form-control" id="email" placeholder="Client Email"/>
    </div>
</div>

<!-- <div class="form-group">
    <label for="tariff" class="col-sm-2 control-label">Tariff</label>
    <div class="col-sm-10">
        <input type="text" ng-model="client.tariff" class="form-control" id="tariff" placeholder="Tariff"/>
    </div>
</div> -->

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
