<div class="container pad-top">
  <table class="table clienttable">
      <tr>
          <td><h3>Details for {{client.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>ID</td>
          <td>{{client.id}}</td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{client.name}}</td>
      </tr>
      <tr>
          <td>Tariff Plane</td>
          <td>{{client.tariff}}</td>
      </tr>
      <tr>
          <td>Amount of Money</td>
          <td>{{client.money}}</td>
      </tr>
  </table>
  
  <div>
      <a class="btn btn-primary" ui-sref="editClient({id:client.id})">Edit the tariff plan of the client</a>
  </div>
</div>
