<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>TV Provider is your best guide in this wild world</h2>
        <img src="/images/tv.jpg" class="img-rounded img-responsive"/>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
        <div class="choose">
        	<div class="shooser1">
	          	<h3>Client List</h3>
	          	<p><a class="btn btn-default" href="#/clients" role="button">More Information &raquo;</a></p>
          	</div>
          	<div class="shooser2">
	            <h3>Transaction List</h3>
	          	<p><a class="btn btn-default" href="#/transactions" role="button">More Information &raquo;</a></p>
        	</div>
        </div>          
        </div>
      </div>

      <footer>
        <span>&copy; TV Provider. 2017</span>
      </footer>
    </div> <!-- /container -->
