<div class="container pad-top">
  <a ui-sref="newTransaction"></a>
  <table class="table transactiontable">
      <tr>
          <td><h3>All Transactions</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="client in clients">
          <td>{{taction.id}}</td>
          <td>{{taction.name}}</td>
          <td>{{taction.tariff}}</td>
          <td>{{taction.date}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewClient({id:client.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteClient(client)">Delete</a>
          </td>
      </tr>
  </table>
</div>
